{
  "extends": ["airbnb-base"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": [
        "@typescript-eslint",
        "tailwindcss",
        "simple-import-sort",
      ],
      "extends": [
        "plugin:tailwindcss/recommended",
        "airbnb",
        "airbnb-typescript",
        "airbnb/hooks",
        "plugin:react/jsx-runtime",
      ],
      "parserOptions": {
        "project": "./tsconfig.json",
      },
      "rules": {
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never",
            "": "never",
          },
        ],
        "arrow-body-style": "off",
        "react/function-component-definition": "off",
        "react/destructuring-assignment": "off",
        "react/jsx-closing-bracket-location": "off",
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "react/no-array-index-key": "off",
        "react/no-unstable-nested-components": "off",
        "react/prop-types": "off",
        "react-hooks/exhaustive-deps": "off",
        "@typescript-eslint/comma-dangle": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/consistent-type-imports": "warn",
        "@typescript-eslint/quotes": "off",
        "no-restricted-syntax": [
          "error",
          "ForInStatement",
          "LabeledStatement",
          "WithStatement",
        ],
        "import/prefer-default-export": "off",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "@typescript-eslint/no-unused-vars": "off",
        "object-curly-newline": "off",
        "max-len": "off",
        "no-plusplus": "off",
        "no-console": "warn",
      },
    },
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "plugins": ["jest", "testing-library"],
      "extends": ["plugin:jest/recommended", "plugin:testing-library/react"],
    },
    {
      "files": ["e2e/**/*.ts"],
      "plugins": ["jest", "detox"],
      "extends": ["plugin:jest/recommended"],
      "parserOptions": {
        "project": "./e2e/tsconfig.json",
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
          },
        ],
      },
    },
  ],
}
